@import url('https://fonts.googleapis.com/css?family=Lobster');

.dots-3 {
    width: 30px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#00ADB5 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/10) 50%;
    animation: d3 20ms infinite linear; 
  }
  @keyframes d3 {
      30%{background-size:0%  50%, 50% 50%,100%   0%}
  }

  .dots-7 {
    width: 30px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#00ADB5 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/6) 50%;
    animation: d7 4s infinite linear;
  }
  @keyframes d7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    11%{color:#00ADB5 100%,#0000  ,#00ADB5}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}